RewriteEngine On
RewriteBase /teymsas/

# Redirigir todas las solicitudes que no sean archivos existentes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
